body {
    background-color: darkslategray;
    color: rgb(0, 0, 0);
    font-size: larger;
}
a {
    color: rgb(0, 0, 0);
    align-self: right;
}
h1 {
    text-align: center;
}
h4 { 
   text-align: center;
}
th {
    border: 5px solid #8c6b48;
    border-radius: 10px;
}
button {
    background-color: palegoldenrod;
    width: 263px;
    height: 100px;
    font-size: larger;
}
header {
    align-content: stretch;
    background-color: black;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}
