body {
    background-color: darkslategray;
    color: rgb(0, 0, 0);
    background-image: url(download.jpg);
    font-size: larger;
}
a {
    color: rgb(0, 0, 0);
    align-self: right;
}
h1 {
    text-align: center;
}
table {
    text-align: center;
    margin: 21px auto;
    background-image: url(table-bg.jpg);
    border-width: 2000px;
}
h4 { 
   text-align: center;
}
th {
    border: 5px solid #8c6b48;
    border-radius: 10px;
}
button {
    background-color: palegoldenrod;
    width: 263px;
    height: 100px;
    font-size: larger;
}
