body {
    background-color: darkslategray;
    color: rgb(0, 0, 0);
    background-image: url(download.jpg);
    font-size: larger;
}
p {
    font-size: larger;
}
a {
    color: rgb(0, 0, 0);
}
